<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zenghui.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.zenghui.entity.Product" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="originalPrice" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="promotePrice" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, subTitle, originalPrice, promotePrice, stock, cid, createDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zenghui.entity.Product" >
    insert into product (id, name, subTitle, 
      originalPrice, promotePrice, stock, 
      cid, createDate)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{originalprice,jdbcType=REAL}, #{promoteprice,jdbcType=REAL}, #{stock,jdbcType=INTEGER}, 
      #{cid,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zenghui.entity.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="subtitle != null" >
        subTitle,
      </if>
      <if test="originalprice != null" >
        originalPrice,
      </if>
      <if test="promoteprice != null" >
        promotePrice,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="originalprice != null" >
        #{originalprice,jdbcType=REAL},
      </if>
      <if test="promoteprice != null" >
        #{promoteprice,jdbcType=REAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zenghui.entity.Product" >
    update product
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subTitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="originalprice != null" >
        originalPrice = #{originalprice,jdbcType=REAL},
      </if>
      <if test="promoteprice != null" >
        promotePrice = #{promoteprice,jdbcType=REAL},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zenghui.entity.Product" >
    update product
    set name = #{name,jdbcType=VARCHAR},
      subTitle = #{subtitle,jdbcType=VARCHAR},
      originalPrice = #{originalprice,jdbcType=REAL},
      promotePrice = #{promoteprice,jdbcType=REAL},
      stock = #{stock,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>